<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="{{site.data.info.assets}}index.html">IG Home</a></li>
  <li><a href="{{site.data.info.assets}}toc.html">Table of Contents</a></li>
  <li><a href="{{site.data.info.assets}}resources.html">Artifact Index</a></li>
  <li><a href="{{site.data.fhir.path}}index.html">FHIR Spec</a></li>
  <li><a href="https://cds-hooks.org/specification/1.0">CDS Hooks</a></li>
  <li><a href="http://hl7.org/fhir/us/davinci-crd/history.html">History</a></li>
</ul>      
