*.dropbox
.DS_Store
desktop.ini
ig-expansion-parameters.json
ig-new.json
ig-new.xml
ig-validation-parameters.json
output
temp
tempSTU3
template
input-cache/org.hl7.fhir.publisher.jar
/FHIR-us-davinci-crd.xml
