<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="{{site.data.info.assets}}toc.html">Table of Contents</a>
  </li>
  <li>
    <a href="{{site.data.info.assets}}index.html">Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.info.assets}}usecases.html">Use Cases and Overview</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}background.html">Technical Background</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}epa.html">ePA Coordinators</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}credits.html">Credits</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}history.html">Change History</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.info.assets}}foundation.html">Foundational Guidance</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}security.html">Privacy, Security, and Safety</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}deviations.html">Deviations and Enhancements</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}hooks.html">Supported Hooks</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}cards.html">Card Profiles</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}implementation.html">Implementation Guidance</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}metrics.html">CRD Metrics</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.info.assets}}allartifacts.html">Artifacts Overview</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}artifacts.html">CRD-specific Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore3}}profiles.html">US Core 3.1.1 Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore6}}profiles-and-extensions.html">US Core 6.1.0 Artifacts</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Base Specs<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR R4 Spec</a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.fhir.ver.uscore3}}">US Core 3.1.1</a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.fhir.ver.uscore6}}">US Core 6.1.0</a>
      </li>
      <li>
        <a target="_blank" href="https://cds-hooks.hl7.org/2.0">CDS Hooks <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir/smart-app-launch/index.html">SMART on FHIR <img src="external.png" style="text-align: baseline"/></a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="https://confluence.hl7.org/pages/viewpage.action?pageId=91980079">Project Home</a>
      </li>
      <li>
        <a target="_blank" href="https://chat.fhir.org/#narrow/stream/180803-Da-Vinci-CRD">Discussion Forum</a>
      </li>
      <li>
        <a target="_blank" href="http://hl7.org/fhir-issues">Propose a Change</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>
