<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="{{site.data.info.assets}}index.html">IG Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="{{site.data.info.assets}}index.html" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.info.assets}}background.html">Reading this IG</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}usecases.html">Use Cases</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}credits.html">Project and Participants</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}burden.html">Burden Reduction</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}epa.html">ePA Coordinators</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}operational.html">Operational Recommendations</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="{{site.data.info.assets}}index.html" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.info.assets}}conformance.html">Conformance Expectations</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}security.html">Privacy, Safety, and Security</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}foundation.html">Foundational Guidance</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}deviations.html">Deviations and Enhancements</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}hooks.html">Supported Hooks</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}cards.html">Hook Response Profiles</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}implementation.html">Implementation Guidance</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}metrics.html">CRD Metrics</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="{{site.data.info.assets}}index.html" class="dropdown-toggle">FHIR Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.info.assets}}allartifacts.html">Artifacts Overview</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}artifacts.html">CRD-specific Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore3}}/profiles.html">US Core 3.1.1 Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore6}}/profiles-and-extensions.html">US Core 6.1.0 Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore7}}/profiles-and-extensions.html">US Core 7.0.0 Artifacts</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="{{site.data.info.assets}}index.html" class="dropdown-toggle">Base Specs<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{{site.data.fhir.path}}index.html">FHIR R4 Spec</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.hrex}}">HRex 1.1.0</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore3}}">US Core 3.1.1</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore6}}">US Core 6.1.0</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore7}}">US Core 7.0.0</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.cdshooks}}">CDS Hooks 2.0.1</a>
      </li>
      <li>
        <a href="http://hl7.org/fhir/smart-app-launch/index.html">SMART on FHIR <img src="external.png" style="text-align: baseline"/></a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="{{site.data.info.assets}}index.html" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="https://chat.fhir.org/#narrow/stream/180803-Da-Vinci-CRD">Discussion Forum</a>
      </li>
      <li>
        <a href="https://confluence.hl7.org/pages/viewpage.action?pageId=91980079">Project Page</a>
      </li>
      <li>
        <a href="https://confluence.hl7.org/display/DVP/CRD+Implementer+Support">Implementer Support</a>
      </li>
      <li>
        <a href="https://jira.hl7.org/secure/Dashboard.jspa?selectPageId=17027">Specification Dashboard</a>
      </li>
      <li>
        <a href="https://jira.hl7.org/secure/CreateIssueDetails!init.jspa?pid=10405&amp;issuetype=10600&amp;customfield_11302=FHIR-us-davinci-crd">Propose a Change</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="{{site.data.info.assets}}history.html">Change Log</a>
  </li>
</ul>
